$header-bg: #464773;
$white: #ffffff;
$sched: #252423;
$calendar-date: #6264a5;
$calendar-border: #f4f4f4;
$calendar-time: #605e5c;
$calendar-standup: #ddd3ea;
$calendar-standup-text: #583b7e;
$calendar-worktime: #c2dff4;
$calendar-worktime-text: #06487a;
$search-bg: #edebe9;
$search-placeholder: #484644;
$modal-dropdown: #f3f2f1;
