.standup {
  &__banner {
    display: flex;
    width: 100%;
    background-color: #f3f2f1;
    height: 60px;
    align-items: center;
    padding-left: 21px;
  }

  &__initials {
    height: 32px;
    width: 32px;
  }

  &__name {
    padding-left: 12px;
    font-family: "SegoeUI";
    color: #484644;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
  }

  &__video {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
  }

  &__screen-container {
    display: flex;
    flex-wrap: wrap;
    width: 1052px;
  }

  &__video1 {
    height: 290px;
    width: 50%;
  }

  &__video2,
  &__video3,
  &__video4 {
    height: 290px;
    width: 50%;
    background-color: #302f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__video4 {
    background-color: #383838;
  }

  &__av {
    width: 74px;
    height: 74px;
  }

  &__person {
    color: white;
    font-family: "SegoeUI";
    font-size: 12px;
    display: flex;
  }
}

.avatars {
  display: flex;
  align-items: center;
  height: 128px;
  background-color: #f3f2f1;
  padding-left: 43px;
  width: 100%;
  &__img {
    width: 74px;
    height: 99px;
  }
}

.avatar {
  padding-right: 40px;
}
