@font-face {
  font-family: Segoeui;
  src: url("../assets/fonts/segoeui.ttf");
}

@font-face {
  font-family: SegoeBold;
  src: url("../assets/fonts/segoeuib.ttf");
}

/* Slyle  default to mobile, then @media for other devices */
/* media query for tablet */
/* media query for landscape, medium pixel desktops */
/* media query for high pixel dencity desktops */
.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 400px;
  border: 3px solid black;
}

.task__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
}

.task__description {
  width: 300px;
  height: 200px;
}

.task__field {
  width: 100%;
  padding: 5px;
}

.task__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
  padding: 10px;
  border: 1px solid black;
}

.header {
  width: 100vw;
  height: 48px;
  background-color: #464773;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_app-holder {
  position: absolute;
  left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 344px;
}

.header_app-holder-svg {
  fill: #ffffff;
}

.header_app-holder-title {
  position: absolute;
  left: 63.5px;
  height: 24px;
  font-family: Segoeui;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #edebe9;
}

.header_div-svg {
  position: absolute;
  left: 370px;
  top: 13px;
  z-index: 9;
}

.header_div-svg .fill {
  fill: #484644;
}

.header_div-input {
  position: absolute;
  left: 25%;
  top: 8px;
  padding-left: 35px;
  outline: none;
  width: 664px;
  height: 32px;
  border-radius: 2px;
  background-color: #edebe9;
}

.header_div-input::-webkit-input-placeholder {
  width: 117px;
  height: 19px;
  font-family: Segoeui;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
}

.header_div-input:-ms-input-placeholder {
  width: 117px;
  height: 19px;
  font-family: Segoeui;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
}

.header_div-input::-ms-input-placeholder {
  width: 117px;
  height: 19px;
  font-family: Segoeui;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
}

.header_div-input::placeholder {
  width: 117px;
  height: 19px;
  font-family: Segoeui;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 768px;
}

.main_left {
  width: 68px;
}

.main_left-nav {
  width: 68px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main_middle {
  width: 320px;
  background-color: #ffffff;
}

.main_middle-schedule {
  width: 77px;
  height: 24px;
  font-family: Segoeui;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252423;
  margin: 18px 20px;
}

.main_middle-container {
  border-top: 1px solid #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 708px;
  background-image: url("../assets/images/calendar-bg.png");
}

.main_middle-container .left {
  padding-top: 40px;
  width: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main_middle-container .left_hour {
  width: 15px;
  height: 19px;
}

.main_middle-container .right {
  width: 16vw;
  position: relative;
}

.main_middle-container .right_cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_middle-container .right_cal-date {
  width: 61px;
  height: 27px;
  font-family: Segoeui;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6264a5;
  margin: 9px;
}

.main_middle-container .right_cal-day {
  margin-top: 8px;
  font-family: Segoeui;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #605e5c;
}

.main_middle-container .right_purple {
  width: 230px;
  height: 30px;
  border-radius: 2px;
  background-color: #ddd3ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_middle-container .right_purple.morning {
  position: absolute;
  top: 78px;
}

.main_middle-container .right_purple.afternoon {
  position: absolute;
  top: 318px;
}

.main_middle-container .right_purple.end {
  position: absolute;
  top: 648px;
}

.main_middle-container .right_purple-innertext {
  margin-left: 10px;
  height: 16px;
  font-family: Segoeui;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #583b7e;
}

.main_middle-container .right_blue {
  width: 230px;
  height: 210px;
  border-radius: 2px;
  background-color: #c2dff4;
}

.main_middle-container .right_blue.morning {
  position: absolute;
  top: 108px;
}

.main_middle-container .right_blue.afternoon {
  position: absolute;
  top: 438px;
}

.main_middle-container .right_blue-innertext {
  margin: 6px 10px;
  height: 16px;
  font-family: Segoeui;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #06487a;
}

.main_right {
  width: 80vw;
}

li {
  list-style-type: none;
}

.taskpage__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
}

a {
  text-decoration: none;
  color: black;
}

.modal__button {
  margin-left: 20px;
  height: 39px;
}

.taskpage__icon {
  margin-top: 0.2%;
  padding-top: 50%;
  padding-bottom: 50%;
  padding-left: 22px;
  padding-right: 12px;
}

.taskpage__new {
  height: 39px;
  border: 1px solid #edebe9;
  width: 75vw;
}

.taskpage__new:hover {
  cursor: pointer;
}

.taskpage__headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  border: 1px solid #edebe9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.taskpage__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 59px;
  border-bottom: 2px;
  width: 140px;
  height: 24px;
  font-family: SegoeUI;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
}

.taskpage__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 4%;
      flex-basis: 4%;
  width: 34px;
  height: 19px;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
}

.active-link1 {
  text-decoration: none;
  color: black;
  padding-bottom: 35px;
  border-bottom: 1px solid #464773;
}

.active-link2 {
  text-decoration: none;
  color: black;
  padding-bottom: 17px;
  border-bottom: 1px solid #464773;
}

.active-link3 {
  text-decoration: none;
  color: black;
  padding-bottom: 17px;
  border-bottom: 1px solid #464773;
}

.taskpage__secondary2,
.taskpage__secondary3 {
  width: 69px;
  height: 19px;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
  margin-right: 15px;
}

.taskpage__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75vw;
  margin-left: 0px;
  border: 1px solid #edebe9;
  padding-left: 91px;
  min-height: 43px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
}

.taskpage__tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75vw;
  height: 43px;
  padding-left: 91px;
  border: 1px solid #edebe9;
  min-height: 43px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
}

.taskpage__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.taskpage__titles--title {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.taskpage__titles--type {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.taskpage__titles--teammember {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.taskpage__titles--priority {
  -ms-flex-preferred-size: 7%;
      flex-basis: 7%;
}

.taskpage__titles--status {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.taskpage__tasktitle {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  width: 20%;
  width: 62px;
  height: 19px;
  font-family: segoeui;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484644;
}

.taskpage__tasktype {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  width: 20%;
}

.taskpage__taskteammember {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  width: 20%;
}

.taskpage__taskpriority {
  -ms-flex-preferred-size: 7%;
      flex-basis: 7%;
  width: 20%;
}

.taskpage__taskstatus {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  width: 20%;
}

.taskpage_button {
  position: absolute;
  left: 395px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #6264a5;
}

.taskpage_button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.taskpage_button-svg {
  fill: #ffffff;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal__popup {
  position: absolute;
  top: 80px;
  bottom: 80px;
  background-color: #ffffff;
  font-family: "SegoeUI";
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 580px;
  height: 575px;
}

.modal__form {
  width: 500px;
  height: 800px;
}

.modal__content {
  margin: 32px 40px 40px 26px;
  width: 600px;
  height: 429px;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.modal__header {
  font-size: 18px;
  line-height: 18px;
}

.modal__close {
  width: 10px;
  height: 10px;
}

.modal__form-label {
  font-size: 14px;
  margin-bottom: 4px;
}

.modal__title {
  width: 100%;
  height: 33px;
  border: none;
  border-bottom: 2px solid #6264a5;
  border-radius: 2px;
  background-color: #f3f2f1;
  padding: 6px 0 6px 12px;
  font-family: "Segoeui";
  margin-bottom: 22px;
}

.modal__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  margin-bottom: 22px;
}

.modal__dropdown {
  width: 178px;
  height: 32px;
  border-radius: 2px;
  background-color: #f3f2f1;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 6px 0 6px 12px;
  font-size: 14px;
  font-family: "Segoeui";
}

.modal__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__button--cancel {
  border: none;
  width: 96px;
  height: 32px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #e1dfdd;
  background-color: #ffffff;
  font-size: 14px;
}

.modal__button--save {
  border: none;
  width: 96px;
  height: 32px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #6264a5;
  margin-left: 10px;
  font-size: 14px;
  color: #ffffff;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: SegoeBold;
  text-align: center;
  padding-top: 40px;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: segoeui;
  color: gray;
  font-size: 13px;
  width: 100%;
}

.calendar__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.calendar__item {
  width: 100%;
  height: 60px;
}

.right_red {
  color: red;
}

.right_yellow {
  width: 230px;
  height: 30px;
  border-radius: 2px;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standup__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #f3f2f1;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 21px;
}

.standup__initials {
  height: 32px;
  width: 32px;
}

.standup__name {
  padding-left: 12px;
  font-family: "SegoeUI";
  color: #484644;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.standup__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.standup__screen-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1052px;
}

.standup__video1 {
  height: 290px;
  width: 50%;
}

.standup__video2, .standup__video3, .standup__video4 {
  height: 290px;
  width: 50%;
  background-color: #302f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.standup__video4 {
  background-color: #383838;
}

.standup__av {
  width: 74px;
  height: 74px;
}

.standup__person {
  color: white;
  font-family: "SegoeUI";
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 128px;
  background-color: #f3f2f1;
  padding-left: 43px;
  width: 100%;
}

.avatars__img {
  width: 74px;
  height: 99px;
}

.avatar {
  padding-right: 40px;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-right: 40px;
}

.avatarimg {
  width: 74px;
  height: 99px;
}

.avatar__join {
  font-family: Segoeui;
  margin-right: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 42px;
  width: 323px;
  border-radius: 3px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2a3370;
  color: white;
}

.avatar__join--text {
  margin: 12px;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.avatar__join--button {
  border: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  font-family: Segoeui;
  width: 96px;
  height: 32px;
  border-radius: 3px;
  background-color: #6264a7;
  color: white;
  margin: 5px;
}

.avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.avatar__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-left: 40px;
}

.avatar__topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dot {
  z-index: 55;
  margin-right: 15px;
  margin-top: 21px;
  height: 90px;
  width: 90px;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
}

.dot__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.dot:first-child {
  margin-left: 21px;
}

.center-this {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.link_holder {
  height: 60px;
}

.workspace {
  height: 708px;
  background-color: #cfe2e9;
}

.workspace__background {
  margin: 0;
  height: 511px;
  width: 662px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.workspace__background--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */