@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/breakpoints";
@import "./partials/flex-mixins";
@import "./partials/taskForm";
@import "./partials/header";
@import "./partials/home";
@import "./partials/taskpage";
@import "./partials/modal";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
